.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;

    .salaries-card {
        width: 70em;
        padding: 2em;
    }
}
